* {
    background-color: lightslategray;
}

.life{
    text-align: center;
    border:  lightseagreen outset 4px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.titles {
    text-align: center;
    font-size: smaller;
    border: solid 2px lightskyblue ;
    box-shadow:  2px 2px 5px lightblue;
}

#steveJobs{
    text-align: center;
    border: solid 1px black;
}

.SJpic{
    clip-path: circle();
    margin-top: 9px;
}

.SJquote{
    margin: 5px;
    font-size: smaller;
    background-color: black;
    color: whitesmoke;
    padding: 3px;
}